# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    environment: production
    runs-on: ubuntu-latest
    steps:
      - name: tell a secret
        env:
          SUPER_SECRET: ${{ secrets.SUPER_SECRET }}
        run: echo $SUPER_SECRET
